body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.node {
    stroke: #fff;
    stroke-width: 0.5px;
}

.link {
    fill: none;
    stroke: #bbb;
    stroke-width: 2px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    padding: 2px;				
    font: 14px sans-serif;		
    background: #323232;
    color: #FCFCFC;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
